<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/dashboardStatic/img/apple-icon.png}">
    <link rel="icon" type="image/png" th:href="@{/dashboardStatic/img/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Verify Account
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- CSS Files -->
    <!-- CHI SUA CAC DUONG DAN CSS O DUOI DAY -->
    <link th:href="@{/dashboardStatic/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/dashboardStatic/css/paper-dashboard.css?v=2.0.1}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link th:href="@{/dashboardStatic/demo/demo.css}" rel="stylesheet" />
</head>
<!---------------------------------------THÔNG TIN VỀ DASHBOARD------------------------------------------------------>
<!--
 - Phan dashboardStatic khong duoc sua
 - Phan dashboardTemplates moi nguoi cop ra rieng cho tung role, de y sua cac the th: cho phu hop, co gi thac mac cu hoi Bui Minh Chien
-->
<!--------------------------------------------------------------------------------------------->
<body class="">
<div class="wrapper ">
    <!--  Side navbar: chua lien ket den cac trang tuy chon cua minh  -->
    <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
            <!--     Đường dẫn đến web chính của dự án     -->
            <a th:href="@{https://www.creative-tim.com}" class="simple-text logo-mini">
                <!--     Avatar người dùng ở đây     -->
                <div class="logo-image-small">
                    <img th:src="@{/dashboardStatic/img/logo-small.png}">
                </div>
                <!-- <p>CT</p> -->
            </a>
            <!--     Đường dẫn đến web chính của dự án     -->
            <a th:href="@{https://www.creative-tim.com}" class="simple-text logo-normal">
                VietLand Auction
                <!--     Thêm logo dự án ở đây     -->
                <!--           <div class="logo-image-big">-->
                <!--            <img src="../assets/img/logo-big.png">-->
                <!--          </div>-->
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a th:href="@{/admin/localAuthorityList}">
                        <i class="nc-icon nc-tile-56"></i>
                        <p>Local Authority List</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/AddLocalAuthority}">
                        <i class="nc-icon nc-simple-add"></i>
                        <p>Add Local Authority</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/list}">
                        <i class="nc-icon nc-circle-10"></i>
                        <p>Manage Account</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/listUnverifiedAccount}">
                        <i class="nc-icon nc-vector"></i>
                        <p>Unverified Account</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/logout}">
                        <i class="nc-icon nc-user-run"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--  End side navbar  -->

    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <span class="navbar-brand">VietLand Auction</span>
            </div>
        </nav>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="col-md-8">
                                <div class="card card-user">
                                    <div class="card-header">
                                        <h5 class="card-title">Personal Information</h5>
                                    </div>
                                    <div class="card-body sidebar-widget">

                                       <div th:object="${customer}" class="form-group">
                                            <!-- Account fields -->
                                            <div class="row">
                                                <input type="hidden" class="form-control" th:field="*{account}" name="accountId">
                                                <div class="col-md-6 pr-1">
                                                    <div class="form-group">
                                                        <label>Username</label>
                                                        <input type="text" class="form-control" th:field="*{fullName}" readonly="" name="username" placeholder="Username">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pl-1">
                                                    <div class="form-group">
                                                        <label>Email address</label>
                                                        <input type="email" class="form-control" th:field="*{account.email}" readonly="" name="email" placeholder="Email">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Customer fields -->
                                            <div class="row">
                                                <input type="hidden" class="form-control" readonly="" th:field="*{customerId}">
                                                <input type="hidden" class="form-control" readonly="" th:field="*{account}">
                                                <input type="hidden" class="form-control" readonly="" th:field="*{updateStatus}">
                                                <div class="col-md-6 pr-1">
                                                    <div class="form-group">
                                                        <label>Gender</label>
                                                        <select class="form-control" th:field="*{gender}" name="gender" readonly="">
                                                            <option value="M">Male</option>
                                                            <option value="F">Female</option>
                                                            <option value="O">Other</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pl-1">
                                                    <div class="form-group">
                                                        <label>Date of Birth</label>
                                                        <input type="date" class="form-control" th:field="*{dateOfBirth}" name="dateOfBirth" readonly="">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Additional customer fields -->
                                            <div class="row">
                                                <div class="col-md-6 pr-1">
                                                    <div class="form-group">
                                                        <label>Phone Number</label>
                                                        <input type="text" class="form-control" required th:field="*{phoneNumber}" name="phoneNumber" placeholder="Phone Number" readonly="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pl-1">
                                                    <div class="form-group">
                                                        <label>Full Name</label>
                                                        <input type="text" class="form-control" required th:field="*{fullName}" name="fullName" placeholder="Full Name" readonly="">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Address, Bank, ID, etc. -->
                                            <div class="row">
                                                <div class="col-md-6 pr-1">
                                                    <div class="form-group">
                                                        <label>Citizen Identification</label>
                                                        <input type="text" class="form-control" required th:field="*{citizenIdentification}" name="citizenIdentification" placeholder="Citizen ID" readonly="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pl-1">
                                                    <div class="form-group">
                                                        <label>ID Issuance Date</label>
                                                        <input type="date" class="form-control" required th:field="*{idIssuanceDate}" name="idIssuanceDate" readonly="">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 pr-1">
                                                    <div class="form-group">
                                                        <label>ID Issuance Place</label>
                                                        <input type="text" class="form-control" required th:field="*{idIssuancePlace}" name="idIssuancePlace" placeholder="Issuance Place" readonly="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pl-1">
                                                    <div class="form-group">
                                                        <label>Bank Account Number</label>
                                                        <input type="text" class="form-control" required th:field="*{bankAccountNumber}" name="bankAccountNumber" placeholder="Bank Account Number" readonly="">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 pr-1">
                                                    <div class="form-group">
                                                        <label>Bank Name</label>
                                                        <input type="text" class="form-control" required th:field="*{bankName}" name="bankName" placeholder="Bank Name" readonly="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pl-1">
                                                    <div class="form-group">
                                                        <label>Bank Branch</label>
                                                        <input type="text" class="form-control" required th:field="*{bankBranch}" name="bankBranch" placeholder="Bank Branch" readonly="">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 pr-1">
                                                    <div class="form-group">
                                                        <label>Bank Account Owner</label>
                                                        <input type="text" class="form-control" required th:field="*{bankOwner}" name="bankOwner" placeholder="Bank Account Owner" readonly="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pl-1">
                                                    <div class="form-group">
                                                        <label>Tax Identification Number (TIN)</label>
                                                        <input type="text" class="form-control" required th:field="*{taxIdentificationNumber}" name="taxIdentificationNumber" placeholder="Tax ID" readonly="">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Address</label>
                                                        <input type="text" class="form-control" required th:field="*{address}" name="address" placeholder="Home Address" readonly="">
                                                    </div>
                                                </div>
                                            </div>

                                           <div class="row">
                                               <div class="col-md-6 pr-1">
                                                   <div class="form-group">
                                                       <label for="idCardFrontImage">ID Card Front Image</label>
                                                       <input type="file" required name="idCardFrontImage" id="idCardFrontImage" class="form-control" accept="image/png, image/jpeg, image/jpg" onchange="updateImagePreview(this, 'idCardFrontPreview')" readonly="">
                                                       <img th:src="${customer.idCardFrontImage.path}" class="card-img-top" alt="Cover Photo"
                                                            style="height: 200px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                                                   </div>
                                               </div>
                                               <div class="col-md-6 pl-1">
                                                   <div class="form-group">
                                                       <label for="idCardBackImage">ID Card Back Image</label>
                                                       <input type="file" required name="idCardBackImage" id="idCardBackImage" class="form-control" accept="image/png, image/jpeg, image/jpg" onchange="updateImagePreview(this, 'idCardBackPreview')" readonly="">
                                                       <img th:src="${customer.idCardBackImage.path}" class="card-img-top" alt="Cover Photo"
                                                            style="height: 200px; object-fit: cover; border-top-left-radius: 15px; border-top-right-radius: 15px;">
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                        <div class="mt-1 text-end">
                                            <form th:action="@{/admin/rejectVerifyCustomer}" method="post">
                                                <input type="hidden" name="customerId" th:value="${customer.customerId}">
                                                <button type="submit" class="btn btn-outline-danger w-25" onclick="verifyAccount()">Reject</button>
                                            </form>
                                        </div>
                                        <div class="mt-1 text-end">
                                            <form th:action="@{/admin/verifyCustomer}" method="post">
                                                <input type="hidden" name="customerId" th:value="${customer.customerId}">
                                                <button type="submit" class="btn btn-outline-info w-25" onclick="rejectAccountInformation()">Verify</button>
                                            </form>
                                        </div>
                                        <div class="text-end mt-1">
                                            <a class="btn btn-outline-info" th:href="@{/admin/listUnverifiedAccount}">Back to Unverified Account List</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------------------------KHONG DUOC SUA------------------------------------------------------>
        <!--   Core JS Files   -->
        <script th:src="@{/dashboardStatic/js/core/jquery.min.js}"></script>
        <script th:src="@{/dashboardStatic/js/core/popper.min.js}"></script>
        <script th:src="@{/dashboardStatic/js/core/bootstrap.min.js}"></script>
        <script th:src="@{/dashboardStatic/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
        <!-- Chart JS -->
        <script th:src="@{/dashboardStatic/js/plugins/chartjs.min.js}"></script>
        <!--  Notifications Plugin    -->
        <script th:src="@{/dashboardStatic/js/plugins/bootstrap-notify.js}"></script>
        <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
        <script th:src="@{/dashboardStatic/js/paper-dashboard.min.js?v=2.0.1}" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
        <script th:src="@{/dashboardStatic/demo/demo.js}"></script>
        <script>
            $(document).ready(function() {
                // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
                demo.initChartsPages();
            });
        </script>
        <script>
            function verifyAccount() {
// Implement your ban logic here, e.g., AJAX call to ban the account
                alert('Account verified!');
            }
            function rejectAccountInformation() {
// Implement your ban logic here, e.g., AJAX call to ban the account
                alert('Rejected account information!');
            }
        </script>
    </div>
</body>
</html>

