<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/dashboardStatic/img/apple-icon.png}">
  <link rel="icon" type="image/png" th:href="@{/dashboardStatic/img/favicon.png}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>
    Paper Dashboard 2 by Creative Tim
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport'/>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <!-- CHI SUA CAC DUONG DAN CSS O DUOI DAY -->
  <link th:href="@{/dashboardStatic/css/bootstrap.min.css}" rel="stylesheet"/>
  <link th:href="@{/dashboardStatic/css/paper-dashboard.css?v=2.0.1}" rel="stylesheet"/>
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link th:href="@{/dashboardStatic/demo/demo.css}" rel="stylesheet"/>
  <!--  CSS cho nut tuy chon  -->
  <style>
    /* Nút mặc định */
    .btn-toggle {
      background-color: white;
      color: #f9351b;
      border: 1px solid #f9351b;
      font-weight: bold;
    }

    /* Nút khi được nhấn */
    .btn-toggle.changeColor {
      background-color: #f9351b;
      color: white;
    }
  </style>
  <!--thu vien cho de zoom anh-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.5/viewer.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.10.5/viewer.min.js"></script>
  <!--  script cho zoom anh  -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const gallery = document.getElementById('image-gallery');
      const viewer = new Viewer(gallery, {
        toolbar: {
          zoomIn: 1,
          zoomOut: 1,
          oneToOne: 1,
          reset: 1,
          prev: 1,
          next: 1
        },
        navbar: true,
        title: true,
        fullscreen: true, // Support full-screen viewing
        transition: false //tat hieu ung chuyen doi de do lag
      });
    });
  </script>
  <!--  css cho zoom anh  -->
  <style>
    #image-gallery {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .main-image img {
      width: 100%; /* Hoặc một giá trị cụ thể như 600px */
      height: auto; /* Giữ tỷ lệ ảnh */
    }

    .thumbnail-images {
      display: flex;
      justify-content: flex-start; /* Đặt các ảnh phụ sát lề trái */
      flex-wrap: wrap; /* Cho phép các thumbnail xuống hàng nếu không đủ chỗ */
      margin-top: 10px; /* Khoảng cách giữa ảnh chính và thumbnail */
    }

    .thumbnail {
      margin: 5px; /* Khoảng cách giữa các thumbnail */
    }

    .thumbnail img {
      width: 100%; /* Kích thước thumbnail */
      height: auto; /* Kích thước thumbnail */
      object-fit: cover; /* Đảm bảo ảnh không bị biến dạng */
      border: none; /* Bỏ viền cho ảnh phụ */
    }
  </style>
</head>

<body class="">
<div class="wrapper ">
  <!--  Side navbar: chua lien ket den cac trang tuy chon cua minh  -->
  <div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <!--     Đường dẫn đến web chính của dự án     -->
      <a th:href="@{https://www.creative-tim.com}" class="simple-text logo-mini">
        <!--     Avatar người dùng ở đây     -->
        <div class="logo-image-small">
          <img th:src="@{/dashboardStatic/img/logo-small.png}">
        </div>
        <!-- <p>CT</p> -->
      </a>
      <!--     Đường dẫn đến web chính của dự án     -->
      <a th:href="@{https://www.creative-tim.com}" class="simple-text logo-normal">
        Bui Minh Chien
        <!--     Thêm logo dự án ở đây     -->
        <!--           <div class="logo-image-big">-->
        <!--            <img src="../assets/img/logo-big.png">-->
        <!--          </div>-->
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li >
          <a th:href="@{/auctioneer/profile}">
            <i class="nc-icon nc-single-02"></i>
            <p>User Profile</p>
          </a>
        </li>
        <li>
          <a th:href="@{/auctioneer/dashboard}">
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a th:href="@{/auctioneer/awaiting_list}">
            <i class="nc-icon nc-single-copy-04"></i>
            <p>Asset awaiting scheduling list</p>
          </a>
        </li>
        <li>
          <a th:href="@{/auctioneer/get_auction_list}">
            <i class="nc-icon nc-bullet-list-67"></i>
            <p>Auction session list</p>
          </a>
        </li>
        <li>
          <a th:href="@{/logout}">
            <i class="nc-icon nc-user-run"></i>
            <p>Logout</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--  End side navbar  -->
  <div class="main-panel">
    <!-- Top Navbar, SUA TIEU DE TRANG CHO PHU HOP -->
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
      <div class="container-fluid">
        <span class="navbar-brand">VietLand Auction</span>
      </div>
    </nav>
    <!-- End Top Navbar -->
    <!-- Noi dung cua trang se nam trong phan content nay -->
    <div class="content">
      <div class="row">
        <div class="col-md-8">
          <div class="card card-user">
            <div class="card-body">
              <div id="image-gallery">
                <div class="main-image">
                  <img th:src="@{${asset.getImages().get(0).path}}" alt="Main Asset Image"
                       class="img-fluid"/>
                </div>
                <div class="thumbnail-images row">
                  <!-- Sử dụng th:each để lặp qua danh sách ảnh trong asset.listImage, bắt đầu từ vị trí 1 -->
                  <div th:each="image, iterStat : ${asset.getImages()}" th:if="${iterStat.index > 0}"
                       class="col-md-3 mb-3">
                    <div class="thumbnail">
                      <img th:src="@{${image.path}}" class="img-thumbnail" alt="Asset Image"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <hr>
              <!--                            <div class="button-container">-->
              <!--                                <div class="row">-->
              <!--                                    <div class="col-lg-3 col-md-6 col-6 ml-auto">-->
              <!--                                        <h5>12<br><small>Files</small></h5>-->
              <!--                                    </div>-->
              <!--                                    <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">-->
              <!--                                        <h5>2GB<br><small>Used</small></h5>-->
              <!--                                    </div>-->
              <!--                                    <div class="col-lg-3 mr-auto">-->
              <!--                                        <h5>24,6$<br><small>Spent</small></h5>-->
              <!--                                    </div>-->
              <!--                                </div>-->
              <!--                            </div>-->
              <div class="row">
                <div th:each="document : ${asset.getDocuments()}" class="col-md-3 mb-3">
                  <div class="col-md-2">
                    <a th:href="@{''+${document.path}}" target="_blank" class="btn btn-primary"
                       style="cursor: pointer;">
                      View Document
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 row">
          <div class="col-md-12">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Asset information</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Location</label>
                      <input type="text" class="form-control" disabled=""
                             th:value="${asset.location}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Length (m)</label>
                      <input type="text" class="form-control" disabled=""
                             th:value="${asset.length}">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Width (m)</label>
                      <input type="text" class="form-control" disabled=""
                             th:value="${asset.width}">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Area <span>(m<sup>2</sup>)</span></label>
                      <input type="text" class="form-control" disabled=""
                             th:value="${asset.area}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Local authority</label>
                      <input type="text" class="form-control" disabled=""
                             th:value="${asset.localAuthority != null ? asset.localAuthority.localAuthorityName : 'null'}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Asset tags</label>
                      <div class="col-md-12">
                        <div class="row">
                          <ul th:each="tag : ${asset.getTags()}" class="col-md-6">
                            <li th:text="${tag.tagName}"></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Status</label>
                      <input type="text" class="form-control" disabled=""
                             th:value="${asset.assetStatus}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Create date</label>
                      <input type="text" class="form-control" disabled=""
                             th:value="${asset.createdDate}">
                    </div>
                  </div>
                </div>
                <!--                            <div class="row">-->
                <!--                                <div class="update ml-auto mr-auto">-->
                <!--                                    <button type="submit" class="btn btn-primary btn-round">Update Profile</button>-->
                <!--                                </div>-->
                <!--                            </div>-->
              </div>
            </div>
          </div>

        </div>

      </div>
<!--      <div class="row">-->
<!--        <div class="card col-md-12">-->
<!--          <div class="card-header">-->
<!--            <h4 class="card-title">Asset description</h4>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <div th:utext="${asset.description}"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="card col-md-12">-->
<!--          <div class="card-body">-->
<!--            <div>-->
<!--              <h4 class="card-title">Google map</h4>-->
<!--              <iframe-->
<!--                      th:src="${embedUrl}"-->
<!--                      width=100%-->
<!--                      height="400"-->
<!--                      style="border:0;"-->
<!--                      allowfullscreen=""-->
<!--                      loading="lazy"-->
<!--                      referrerpolicy="no-referrer-when-downgrade">-->
<!--              </iframe>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!------------------------------------------------------------->
      <div class="row">
        <div class="col-md-3 mb-3">
          <button class="btn btn-toggle" id="view_description" style="width: 100%;">Asset description</button>
        </div>
        <div class="col-md-3 mb-3">
          <button class="btn btn-toggle" id="view_map" style="width: 100%;">Google map</button>
        </div>
      </div>
<!--      <div class="single-post-content sidebar-widget" id="asset_description">-->
<!--        <div th:utext="${auction.asset.description}"></div>-->
<!--      </div>-->
      <div class="row" id="asset_description">
        <div class="col-md-12">
          <div class="card card-user">
            <div class="card-header">
              <h4 class="card-title">Asset description</h4>
            </div>
            <div class="card-body">
              <div th:utext="${asset.description}"></div>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="single-post-content sidebar-widget" id="asset_map">-->
<!--        <div th:each="document : ${auction.asset.getDocuments()}" class="row">-->
<!--          <div class="col-md-12">-->
<!--            <a th:href="@{''+${document.path}}" target="_blank"-->
<!--               style="cursor: pointer;">-->
<!--              Asset Document-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <div class="row" id="asset_map">
        <div class="col-md-12">
          <div class="card card-user">
            <div class="card-body">
              <div>
                <h4 class="card-title">Google map</h4>
                <iframe
                        th:src="${embedUrl}"
                        width=100%
                        height="400"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card card-user">
            <div class="card-header">
              <h5 class="card-title">Please enter the auction session information</h5>
            </div>
            <div class="card-body">
              <form th:action="@{/auctioneer/createAuction}" th:method="post" th:object="${auctionDTO}"
                    enctype="multipart/form-data">
                <input type="hidden" th:field="*{assetId}" th:value="${auctionDTO.assetId}">
                <input type="hidden" th:field="*{taskId}" th:value="${auctionDTO.taskId}">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="auctionName">Auction name</label>
                      <input type="text" th:field="*{auctionSession.auctionName}" id="auctionName" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label for="startingPrice">Starting price</label>
                      <input type="text" th:field="*{auctionSession.startingPrice}" id="startingPrice"
                             class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6 px-1">
                    <div class="form-group">
                      <label for="minimumbidincrement">Minimum bid increment</label>
                      <input type="text" th:field="*{auctionSession.minimumBidIncrement}" id="minimumbidincrement"
                             class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label for="deposit">Deposit</label>
                      <input type="text" th:field="*{auctionSession.deposit}" id="deposit" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6 px-1">
                    <div class="form-group">
                      <label for="registerfee">Register fee</label>
                      <input type="text" th:field="*{auctionSession.registerFee}" id="registerfee" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="extratimeunit">Extra time unit (second)</label>
                      <input type="text" th:field="*{auctionSession.extraTimeUnit}" id="extratimeunit" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label for="starttime">Start time</label>
                      <input type="datetime-local" th:field="*{auctionSession.startTime}" id="starttime" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6 px-1">
                    <div class="form-group">
                      <label for="expectedendtime">Expected end time</label>
                      <input type="datetime-local" th:field="*{auctionSession.expectedEndTime}" id="expectedendtime" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 pr-1">
                    <div class="form-group">
                      <label for="registrationopendate">Registration open date</label>
                      <input type="datetime-local" th:field="*{auctionSession.registrationOpenDate}" id="registrationopendate" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6 px-1">
                    <div class="form-group">
                      <label for="registrationclosedate">Registration close date</label>
                      <input type="datetime-local" th:field="*{auctionSession.registrationCloseDate}" id="registrationclosedate" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button type="submit" class="btn btn-primary btn-round">Create</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

<!------------------------------------------------------------->
    </div>
    <!-- Het phan noi dung cua trang -->
  </div>
</div>
<!---------------------------------------KHONG DUOC SUA------------------------------------------------------>
<!--   Core JS Files   -->
<script th:src="@{/dashboardStatic/js/core/jquery.min.js}"></script>
<script th:src="@{/dashboardStatic/js/core/popper.min.js}"></script>
<script th:src="@{/dashboardStatic/js/core/bootstrap.min.js}"></script>
<script th:src="@{/dashboardStatic/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
<!-- Chart JS -->
<script th:src="@{/dashboardStatic/js/plugins/chartjs.min.js}"></script>
<!--  Notifications Plugin    -->
<script th:src="@{/dashboardStatic/js/plugins/bootstrap-notify.js}"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script th:src="@{/dashboardStatic/js/paper-dashboard.min.js?v=2.0.1}" type="text/javascript"></script>
<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script th:src="@{/dashboardStatic/demo/demo.js}"></script>

<!-- script de hien thi tuy chon description va document -->
<script>
  // Lấy các phần tử DOM
  const descriptionButton = document.getElementById('view_description');
  const mapButton = document.getElementById('view_map');
  const assetDescription = document.getElementById('asset_description');
  const assetMap = document.getElementById('asset_map');

  // Mặc định khi tải trang, chỉ hiển thị asset_description và active button
  window.onload = function () {
    assetDescription.style.display = 'block';  // Hiển thị khối mô tả
    assetMap.style.display = 'none';  // Ẩn khối tài liệu
    descriptionButton.classList.add('changeColor');  // Đặt nút "Description" là active
  };

  // Khi nhấn vào nút "Description"
  descriptionButton.addEventListener('click', function () {
    assetDescription.style.display = 'block';  // Hiển thị khối mô tả
    assetMap.style.display = 'none';  // Ẩn khối tài liệu

    // Đổi trạng thái active của các nút
    descriptionButton.classList.add('changeColor');
    mapButton.classList.remove('changeColor');
  });

  // Khi nhấn vào nút "Map"
  mapButton.addEventListener('click', function () {
    assetMap.style.display = 'block';  // Hiển thị khối tài liệu
    assetDescription.style.display = 'none';  // Ẩn khối mô tả

    // Đổi trạng thái active của các nút
    mapButton.classList.add('changeColor');
    descriptionButton.classList.remove('changeColor');
  });
</script>
<!--check xem thứ tự thời gian của các trường đã hợp lý chưa-->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form'); // Chọn form của bạn

    form.addEventListener('submit', function(event) {
      // Lấy giá trị từ các trường input
      const startTime = new Date(document.getElementById('starttime').value);
      const expectedEndTime = new Date(document.getElementById('expectedendtime').value);
      const registrationOpenDate = new Date(document.getElementById('registrationopendate').value);
      const registrationCloseDate = new Date(document.getElementById('registrationclosedate').value);

      // Kiểm tra điều kiện thứ tự thời gian
      if (registrationOpenDate >= registrationCloseDate || registrationCloseDate >= startTime || startTime >= expectedEndTime) {
        // Nếu điều kiện không thỏa mãn, ngăn không cho submit form
        event.preventDefault();
        alert('Please ensure that the dates follow the correct order: Registration open date < Registration close date < Start time < Expected end time');
      }
    });
  });
</script>
</body>

</html>