<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/dashboardStatic/img/apple-icon.png}">
    <link rel="icon" type="image/png" th:href="@{/dashboardStatic/img/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Auction list
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <!-- CHI SUA CAC DUONG DAN CSS O DUOI DAY -->
    <link th:href="@{/dashboardStatic/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/dashboardStatic/css/paper-dashboard.css?v=2.0.1}" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link th:href="@{/dashboardStatic/demo/demo.css}" rel="stylesheet"/>
    <!-- Bootstrap -->
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<style>
    .pagination {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 20px;
    }

    .pagination span {
        font-weight: bold;
        margin-right: 10px;
    }

    .pagination ul {
        list-style-type: none;
        display: flex; /* Đảm bảo các mục trong danh sách nằm ngang */
        gap: 5px; /* Khoảng cách giữa các ô số trang */
        padding: 0;
        margin: 0;
    }

    .pagination ul li {
        margin: 0;
    }

    .pagination ul li a {
        display: block;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-decoration: none;
        color: #333;
    }

    .pagination ul li a:hover {
        background-color: #f0f0f0;
        border-color: #ccc;
    }

    .pagination ul li.active a {
        background-color: #1bf2f9;
        color: white;
        border-color: #1b95f9;
    }
    .search-container {
        display: flex;
        justify-content: center; /* Nằm giữa trang */
        margin: 20px 0;
    }

    .search-form {
        display: flex;
        width: 50%; /* Tăng độ dài của thanh tìm kiếm */
        max-width: 600px;
    }

    .search-input {
        flex: 1;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px 0 0 5px;
        outline: none;
    }

    .search-button {
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: #29c5c5;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }

    .search-button:hover {
        background-color: #2f94d3;
    }


</style>


<body class="">
<div class="wrapper ">
    <!--  Side navbar: chua lien ket den cac trang tuy chon cua minh  -->
    <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
            <!--     Đường dẫn đến web chính của dự án     -->
<!--            <a th:href="@{https://www.creative-tim.com}" class="simple-text logo-mini">-->
<!--                &lt;!&ndash;     Avatar người dùng ở đây     &ndash;&gt;-->
<!--                <div class="logo-image-small">-->
<!--                    <img th:src="@{/dashboardStatic/img/logo-small.png}">-->
<!--                </div>-->
<!--                &lt;!&ndash; <p>CT</p> &ndash;&gt;-->
<!--            </a>-->
            <!--     Đường dẫn đến web chính của dự án     -->
            <a th:href="@{https://www.creative-tim.com}" class="simple-text logo-normal">
                VietLand auction
                <!--     Thêm logo dự án ở đây     -->
                <!--           <div class="logo-image-big">-->
                <!--            <img src="../assets/img/logo-big.png">-->
                <!--          </div>-->
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li >
                    <a th:href="@{/auctioneer/profile}">
                        <i class="nc-icon nc-single-02"></i>
                        <p>Profile</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/auctioneer/awaiting_list}">
                        <i class="nc-icon nc-single-copy-04"></i>
                        <p>Asset awaiting scheduling list</p>
                    </a>
                </li>
                <li class="active ">
                    <a th:href="@{/auctioneer/get_auction_list}">
                        <i class="nc-icon nc-bullet-list-67"></i>
                        <p>Auction session list</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/logout}">
                        <i class="nc-icon nc-user-run"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--  End side navbar  -->
    <div class="main-panel">
        <!-- Top Navbar, SUA TIEU DE TRANG CHO PHU HOP -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <span class="navbar-brand">Stay focused, stay driven, and success will follow</span>
            </div>
        </nav>
        <!-- End Top Navbar -->
        <!-- Noi dung cua trang se nam trong phan content nay -->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">My auction management list</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div class="search-container">
                                    <form th:action="@{/auctioneer/get_auction_list}" method="get" class="search-form">
                                        <input type="text" name="search" th:value="${search}" placeholder="Search by auction name" class="search-input"/>
                                        <button type="submit" class="search-button">Search</button>
                                    </form>
                                </div>
                                <table class="table">
                                    <thead class="text-primary">
                                    <tr>
                                        <th><a th:href="@{/auctioneer/get_auction_list(sort='auctionId', page=${currentPage}, size=10, search=${search})}" th:text="'Id'"></a></th>
                                        <th><a th:href="@{/auctioneer/get_auction_list(sort='auctionName', page=${currentPage}, size=10, search=${search})}" th:text="'Auction name'"></a></th>
                                        <th><a th:href="@{/auctioneer/get_auction_list(sort='registrationOpenDate', page=${currentPage}, size=10, search=${search})}" th:text="'Registration open date'"></a></th>
                                        <th><a th:href="@{/auctioneer/get_auction_list(sort='registrationCloseDate', page=${currentPage}, size=10, search=${search})}" th:text="'Registration close date'"></a></th>
                                        <th><a th:href="@{/auctioneer/get_auction_list(sort='startTime', page=${currentPage}, size=10, search=${search})}" th:text="'Start time'"></a></th>
                                        <th><a th:href="@{/auctioneer/get_auction_list(sort='startingPrice', page=${currentPage}, size=10, search=${search})}" th:text="'Starting price'"></a></th>
                                        <th><a th:href="@{/auctioneer/get_auction_list(sort='status', page=${currentPage}, size=10, search=${search})}" th:text="'Status'"></a></th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="auction : ${listAuction}">
                                        <td th:text="${auction.auctionId}"></td>
                                        <td th:text="${auction.auctionName.length() > 40 ? auction.auctionName.substring(0, 40) + '...' : auction.auctionName}" th:title="${auction.auctionName}"></td>
                                        <td th:text="${auction.registrationOpenDate}"></td>
                                        <td th:text="${auction.registrationCloseDate}"></td>
                                        <td th:text="${auction.startTime}"></td>
                                        <td th:text="${auction.startingPrice}"></td>
                                        <td th:text="${auction.status}"></td>
                                        <td class="text-right">
                                            <a th:href="@{/auctioneer/viewAuctionDetail(auctionId=${auction.auctionId})}" class="btn btn-sm">
                                                <i class="bi bi-eye-fill"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="pagination">
                                    <ul>
                                        <li th:if="${currentPage > 0}">
                                            <a th:href="@{/auctioneer/get_auction_list(page=${currentPage - 1}, sortDir=${sortDir}, search=${search})}">Previous</a>
                                        </li>
                                        <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                            th:classappend="${i == currentPage} ? 'active'">
                                            <a th:href="@{/auctioneer/get_auction_list(page=${i}, sortDir=${sortDir}, search=${search})}"
                                               th:text="${i + 1}">1</a>
                                        </li>
                                        <li th:if="${currentPage < totalPages - 1}">
                                            <a th:href="@{/auctioneer/get_auction_list(page=${currentPage + 1}, sortDir=${sortDir}, search=${search})}">Next</a>
                                        </li>
                                    </ul>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Het phan noi dung cua trang -->
    </div>
</div>
<!---------------------------------------KHONG DUOC SUA------------------------------------------------------>
<!--   Core JS Files   -->
<script th:src="@{/dashboardStatic/js/core/jquery.min.js}"></script>
<script th:src="@{/dashboardStatic/js/core/popper.min.js}"></script>
<script th:src="@{/dashboardStatic/js/core/bootstrap.min.js}"></script>
<script th:src="@{/dashboardStatic/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
<!-- Chart JS -->
<script th:src="@{/dashboardStatic/js/plugins/chartjs.min.js}"></script>
<!--  Notifications Plugin    -->
<script th:src="@{/dashboardStatic/js/plugins/bootstrap-notify.js}"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script th:src="@{/dashboardStatic/js/paper-dashboard.min.js?v=2.0.1}" type="text/javascript"></script>
<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script th:src="@{/dashboardStatic/demo/demo.js}"></script>
<!--Confirm xoa asset voi nguoi dung-->
<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this asset?");
    }
</script>
</body>


</html>
