<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/dashboardStatic/img/apple-icon.png}">
    <link rel="icon" type="image/png" th:href="@{/dashboardStatic/img/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Dashboard
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <!-- CHI SUA CAC DUONG DAN CSS O DUOI DAY -->
    <link th:href="@{/dashboardStatic/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/dashboardStatic/css/paper-dashboard.css?v=2.0.1}" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link th:href="@{/dashboardStatic/demo/demo.css}" rel="stylesheet"/>
</head>
<!---------------------------------------THÔNG TIN VỀ DASHBOARD------------------------------------------------------>
<!--
 - Phan dashboardStatic khong duoc sua
 - Phan dashboardTemplates moi nguoi cop ra rieng cho tung role, de y sua cac the th: cho phu hop, co gi thac mac cu hoi Bui Minh Chien
-->
<!--------------------------------------------------------------------------------------------->
<body class="">
<div class="wrapper ">
    <!--  Side navbar: chua lien ket den cac trang tuy chon cua minh  -->
    <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
            <!--     Đường dẫn đến web chính của dự án     -->
            <a th:href="@{https://www.creative-tim.com}" class="simple-text logo-mini">
                <!--     Avatar người dùng ở đây     -->
                <div class="logo-image-small">
                    <img th:src="@{/dashboardStatic/img/logo-small.png}">
                </div>
                <!-- <p>CT</p> -->
            </a>
            <!--     Đường dẫn đến web chính của dự án     -->
            <a th:href="@{https://www.creative-tim.com}" class="simple-text logo-normal">
                Bui Minh Chien
                <!--     Thêm logo dự án ở đây     -->
                <!--           <div class="logo-image-big">-->
                <!--            <img src="../assets/img/logo-big.png">-->
                <!--          </div>-->
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a th:href="@{/auctioneer/dashboard}">
                        <i class="nc-icon nc-bank"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/auctioneer/awaiting_list}">
                        <i class="nc-icon nc-single-copy-04"></i>
                        <p>Asset awaiting scheduling list</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/auctioneer/get_auction_list}">
                        <i class="nc-icon nc-bullet-list-67"></i>
                        <p>Auction session list</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--  End side navbar  -->
    <div class="main-panel"> <!--  Day la phan ben phai cua trang  -->
        <!-- Top Navbar, SUA TIEU DE TRANG CHO PHU HOP -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <span class="navbar-brand">VietLand Auction</span>
            </div>
        </nav>
        <!-- End Top Navbar -->
        <!-- Noi dung cua trang se nam trong phan content nay -->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-user">
                        <div class="card-header">
                            <h5 class="card-title">Auction information</h5>
                        </div>
                        <!-- Account fields -->
                        <div class="card-body">
                            <!-- Account fields -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Auction name</label>
                                        <input type="text" class="form-control"
                                               th:field="${register.auction.auctionName}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Auction status</label>
                                        <input type="text" class="form-control" th:field="${register.auction.status}"
                                               readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Registration open date</label>
                                        <input type="text" class="form-control"
                                               th:field="${register.auction.registrationOpenDate}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Registration close date</label>
                                        <input type="text" class="form-control"
                                               th:field="${register.auction.registrationCloseDate}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Start time</label>
                                        <input type="text" class="form-control"
                                               th:field="${register.auction.registrationOpenDate}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Expected end time</label>
                                        <input type="text" class="form-control"
                                               th:field="${register.auction.registrationCloseDate}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Actual end time</label>
                                        <input type="text" class="form-control"
                                               th:if="${register.auction.actualEndTime != null ? register.auction.actualEndTime : 'null'}"
                                               readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Starting price</label>
                                        <input type="text" class="form-control"
                                               th:field="${register.auction.startingPrice}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Minimum bid increment</label>
                                        <input type="text" class="form-control"
                                               th:field="${register.auction.minimumBidIncrement}" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Dealt price</label>
                                        <input type="text" class="form-control"
                                               th:if="${register.auction.dealedPrice != null ? register.auction.dealedPrice : 'null'}"
                                               readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Deposit</label>
                                        <input type="text" class="form-control" th:field="${register.auction.deposit}"
                                               readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Register fee</label>
                                        <input type="text" class="form-control"
                                               th:field="${register.auction.registerFee}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-user">
                        <div class="card-header">
                            <h5 class="card-title">Register detail information</h5>
                        </div>
                        <!-- Account fields -->
                        <div class="card-body">
                            <!-- Account fields -->
                            <form th:action="@{/auctioneer/updateRegister}" th:method="post">
                                <input type="hidden" name="registerId" th:value="${register.registerId}">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Registration time</label>
                                            <input type="text" class="form-control"
                                                   th:field="${register.registrationTime}"
                                                   readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Full name</label>
                                            <input type="text" class="form-control"
                                                   th:field="${register.buyer.customer.fullName}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Nick name</label>
                                            <input type="text" class="form-control" th:field="${register.nickName}"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Citizen identification</label>
                                            <input type="text" class="form-control"
                                                   th:field="${register.buyer.customer.citizenIdentification}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" th:field="${register.buyer.email}"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Phone number</label>
                                            <input type="text" class="form-control"
                                                   th:field="${register.buyer.customer.phoneNumber}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control"
                                                   th:field="${register.buyer.customer.address}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Bank name</label>
                                            <input type="text" class="form-control"
                                                   th:field="${register.buyer.customer.bankName}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Bank account number</label>
                                            <input type="text" class="form-control"
                                                   th:field="${register.buyer.customer.bankAccountNumber}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Bank owner</label>
                                            <input type="text" class="form-control"
                                                   th:field="${register.buyer.customer.bankOwner}" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Auction result</label>
                                            <input type="text" class="form-control" th:field="${register.result}"
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Rank</label>
                                            <input type="text" class="form-control" th:field="${register.rank}"
                                                   readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Register status</label>
                                            <!--                                            <input type="text" class="form-control" th:value="${register.registerStatus}"-->
                                            <!--                                                   name="register_status">-->
                                            <!-- Trường ẩn chứa giá trị của select khi disabled -->
                                            <input type="hidden" name="register_status"
                                                   th:value="${register.registerStatus}"
                                                   th:if="${register.auction.status != 'Upcoming'}"/>
                                            <select name="register_status" class="form-control"
                                                    th:attr="disabled=${register.auction.status != 'Upcoming' ? 'disabled' : null}">
                                                <option value="Waiting for payment"
                                                        th:selected="${register.registerStatus == 'Waiting for payment'}">
                                                    Waiting for payment
                                                </option>
                                                <option value="Waiting for confirmation"
                                                        th:selected="${register.registerStatus == 'Waiting for confirmation'}">
                                                    Waiting for confirmation
                                                </option>
                                                <option value="Confirmed"
                                                        th:selected="${register.registerStatus == 'Confirmed'}">
                                                    Confirmed
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Purchase status</label>
                                            <!--                                            <input type="text" class="form-control" th:value="${register.purchaseStatus}"-->
                                            <!--                                                   name="purchase_status">-->
                                            <select name="purchase_status" class="form-control">
                                                <option value=""></option>
                                                <option value="Not eligible to purchase"
                                                        th:selected="${register.purchaseStatus == 'Not eligible to purchase'}">
                                                    Not eligible to purchase
                                                </option>
                                                <option value="Eligible to purchase"
                                                        th:selected="${register.purchaseStatus == 'Eligible to purchase'}">
                                                    Eligible to purchase
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Deposit status</label>
                                            <!--                                            <input type="text" class="form-control" th:value="${register.depositStatus}"-->
                                            <!--                                                   name="deposit_status">-->
                                            <select name="deposit_status" class="form-control">
                                                <option value=""></option>
                                                <option value="Locked"
                                                        th:selected="${register.depositStatus == 'Locked'}">Locked
                                                </option>
                                                <option value="Forfeited"
                                                        th:selected="${register.depositStatus == 'Forfeited'}">Forfeited
                                                </option>
                                                <option value="Unlock"
                                                        th:selected="${register.depositStatus == 'Unlock'}">Unlock
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="update ml-auto mr-auto">
                                        <button type="submit" class="btn btn-success btn-round">
                                            Update register information
                                        </button>
                                        <a th:href="@{/auctioneer/viewRegisterList(auctionId=${register.auction.auctionId})}">
                                            <button type="button" class="btn btn-primary btn-round">
                                                Back to auction register list
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!---------------------------------------KHONG DUOC SUA------------------------------------------------------>
    <!--   Core JS Files   -->
    <script th:src="@{/dashboardStatic/js/core/jquery.min.js}"></script>
    <script th:src="@{/dashboardStatic/js/core/popper.min.js}"></script>
    <script th:src="@{/dashboardStatic/js/core/bootstrap.min.js}"></script>
    <script th:src="@{/dashboardStatic/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
    <!-- Chart JS -->
    <script th:src="@{/dashboardStatic/js/plugins/chartjs.min.js}"></script>
    <!--  Notifications Plugin    -->
    <script th:src="@{/dashboardStatic/js/plugins/bootstrap-notify.js}"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script th:src="@{/dashboardStatic/js/paper-dashboard.min.js?v=2.0.1}" type="text/javascript"></script>
    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script th:src="@{/dashboardStatic/demo/demo.js}"></script>
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
            demo.initChartsPages();
        });
    </script>
</body>

</html>
