<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>List Account</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">-->

<!--</head>-->
<!--<body>-->
<!--<div class="container">-->

<!--    <h3>List Account</h3>-->
<!--    <hr>-->
<!--    <a th:href="@{/accounts/showFormForAdd}" class="btn btn-primary btn-sm mb-3">-->
<!--        Add New Account-->
<!--    </a>-->
<!--    <a th:href="@{/banLog/list}" class="btn btn-primary btn-sm mb-3">BanLog History</a>-->
<!--    <table class="table table-bordered table-striped">-->
<!--        <thead class="table-dark">-->
<!--        <tr>-->
<!--            <th>Account ID</th>-->
<!--            <th>User Name</th>-->
<!--            <th>Password</th>-->
<!--            <th>Status</th>-->
<!--            <th>Verify</th>-->
<!--            <th>Email</th>-->
<!--            <th>Role Name</th>-->
<!--            <th>Action</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="tempAccount : ${accounts}">-->
<!--            <td th:text="${tempAccount.accountId}"></td>-->
<!--            <td th:text="${tempAccount.username}"></td>-->
<!--            <td th:text="${tempAccount.password}"></td>-->
<!--            <td th:text="${tempAccount.status}"></td>-->
<!--            <td th:text="${tempAccount.verify}"></td>-->
<!--            <td th:text="${tempAccount.email}"></td>-->
<!--            <td th:text="${tempAccount.role.roleName}"></td>-->
<!--            <td>-->
<!--                <a th:href="@{/accounts/showFormForUpdate(accountId=${tempAccount.accountId})}" class="btn btn-info btn-sm">-->
<!--                    Update-->
<!--                </a>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/dashboardStatic/img/apple-icon.png}">
    <link rel="icon" type="image/png" th:href="@{/dashboardStatic/img/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Paper Dashboard 2 by Creative Tim
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- CSS Files -->
    <!-- CHI SUA CAC DUONG DAN CSS O DUOI DAY -->
    <link th:href="@{/dashboardStatic/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/dashboardStatic/css/paper-dashboard.css?v=2.0.1}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link th:href="@{/dashboardStatic/demo/demo.css}" rel="stylesheet" />
</head>
<!---------------------------------------THÔNG TIN VỀ DASHBOARD------------------------------------------------------>
<!--
 - Phan dashboardStatic khong duoc sua
 - Phan dashboardTemplates moi nguoi cop ra rieng cho tung role, de y sua cac the th: cho phu hop, co gi thac mac cu hoi Bui Minh Chien
-->
<!--------------------------------------------------------------------------------------------->
<body class="">
<div class="wrapper ">
    <!--  Side navbar: chua lien ket den cac trang tuy chon cua minh  -->
    <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
            <!--     Đường dẫn đến web chính của dự án     -->
            <a th:href="@{https://www.creative-tim.com}" class="simple-text logo-mini">
                <!--     Avatar người dùng ở đây     -->
                <div class="logo-image-small">
                    <img th:src="@{/dashboardStatic/img/logo-small.png}">
                </div>
                <!-- <p>CT</p> -->
            </a>
            <!--     Đường dẫn đến web chính của dự án     -->
            <a th:href="@{https://www.creative-tim.com}" class="simple-text logo-normal">
                VietLand Auction
                <!--     Thêm logo dự án ở đây     -->
                <!--           <div class="logo-image-big">-->
                <!--            <img src="../assets/img/logo-big.png">-->
                <!--          </div>-->
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li >
                    <a th:href="@{/LocalAuthority}">
                        <i class="nc-icon nc-tile-56"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/AddLocalAuthority}">
                        <i class="nc-simple-add"></i>
                        <p>Add Local Authority</p>
                    </a>
                </li>
                <li class="active">
                    <a th:href="@{/accounts/list}">
                        <i class="nc-icon nc-circle-10"></i>
                        <p>Manage Account</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/logout}">
                        <i class="nc-icon nc-user-run"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--  End side navbar  -->

    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <span class="navbar-brand">VietLand Auction</span>
            </div>
        </nav>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">



                                <!-- Pagination Controls -->
                                <h3>List Account</h3>
                                <hr>
                                <a th:href="@{/accounts/showFormForAdd}" class="btn btn-primary btn-sm mb-3 ml-2">
                                    Add New Account
                                </a>
                                <a th:href="@{/banLog/list}" class="btn btn-primary btn-sm mb-3">BanLog History</a>



                                <table class="table table-bordered table-striped ml-2">
                                    <thead class="table table" style="background-color: red">

                                    <tr >
                                        <th  style="background-color: red; color: white">Account ID</th>
                                        <th  style="background-color: red; color: white">User Name</th>
                                        <th  style="background-color: red; color: white">Password</th>
                                        <th  style="background-color: red; color: white">Status</th>
                                        <th  style="background-color: red; color: white">Verify</th>
                                        <th  style="background-color: red; color: white">Email</th>
                                        <th  style="background-color: red; color: white">Role Name</th>
                                        <th  style="background-color: red; color: white">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="tempAccount : ${accounts}">
                                        <td th:text="${tempAccount.accountId}"></td>
                                        <td th:text="${tempAccount.username}"></td>
                                        <td th:text="${tempAccount.password}"></td>
                                        <td>
                                            <span class="text" th:text="${tempAccount.status == 1 ? 'Active' : 'Banned'}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${tempAccount.verify == 1 ? 'Verified' : 'Unverified'}"></span>
                                        </td>
                                        <td th:text="${tempAccount.email}"></td>
                                        <td th:text="${tempAccount.role.roleName}"></td>
                                        <td>
                                            <a th:href="@{/accounts/showFormForUpdate(accountId=${tempAccount.accountId})}" class="btn btn-info btn-sm">
                                                Detail
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <!-- Pagination controls -->
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li class="page-item " th:classappend="${currentPage == 1} ? 'disabled'">
                                            <a class="page-link ml-2" th:href="@{/accounts/list(page=${currentPage - 1}, size=5)}">Previous</a>
                                        </li>
                                        <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
                                            th:classappend="${i == currentPage} ? 'active'">
                                            <a class="page-link" th:href="@{/accounts/list(page=${i}, size=5)}" th:text="${i}">1</a>
                                        </li>
                                        <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                            <a class="page-link" th:href="@{/accounts/list(page=${currentPage + 1}, size=5)}">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- Pagination Controls -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!---------------------------------------KHONG DUOC SUA------------------------------------------------------>
<!--   Core JS Files   -->
<script th:src="@{/dashboardStatic/js/core/jquery.min.js}"></script>
<script th:src="@{/dashboardStatic/js/core/popper.min.js}"></script>
<script th:src="@{/dashboardStatic/js/core/bootstrap.min.js}"></script>
<script th:src="@{/dashboardStatic/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
<!-- Chart JS -->
<script th:src="@{/dashboardStatic/js/plugins/chartjs.min.js}"></script>
<!--  Notifications Plugin    -->
<script th:src="@{/dashboardStatic/js/plugins/bootstrap-notify.js}"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script th:src="@{/dashboardStatic/js/paper-dashboard.min.js?v=2.0.1}" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script th:src="@{/dashboardStatic/demo/demo.js}"></script>
<script>
    $(document).ready(function() {
        // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
        demo.initChartsPages();
    });
</script>
</div>
</body>
</html>
