<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký tài sản đấu giá</title>
</head>
<body>
 Mời bạn nhập thông tin tài sản
 <hr>
 <form th:action="@{/assets/registerAsset}" th:method="post" th:object="${asset}">
     <input type="text" th:field="*{location}" placeholder="Location" class="form-control mb-4 w-25">
     <input type="text" th:field="*{length}" placeholder="Length" class="form-control mb-4 w-25">
     <input type="text" th:field="*{width}" placeholder="Width" class="form-control mb-4 w-25">
     <input type="text" th:field="*{area}" placeholder="Area" class="form-control mb-4 w-25">
     <input type="text" th:field="*{description}" placeholder="Description" class="form-control mb-4 w-25">
     <input type="text" th:field="*{classify}" placeholder="Classify" class="form-control mb-4 w-25">
     <button type="submit" class="btn btn-info col-2">Save</button>
 </form>
 <span th:text="${message}"></span>
 <hr>
<!-- <a th:href="@{/employees/list}">-->
<!--     Back to employees list-->
<!-- </a>-->
</body>
</html>