<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/assets_CustomerSide/css/styleRegister.css">
</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form action="/register" method="POST">
            <h1>Create Account</h1>
            <input type="text" name="username" placeholder="Name" required/>
            <input type="email" name="email" placeholder="Email" required/>
            <input type="password" name="password" placeholder="Password" required/>

            <!-- Display error message for username if exists -->
            <div th:if="${errorUsernameMessage}" style="color: red;">
                <p th:text="${errorUsernameMessage}"></p>
            </div>

            <!-- Display error message for email if exists -->
            <div th:if="${errorEmailMessage}" style="color: red;">
                <p th:text="${errorEmailMessage}"></p>
            </div>

            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start your journey with us</p>
                <a href="/showMyLoginPage"><button class="ghost">Sign In</button></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
