<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RealHouzing - Real Estate Category Bootstrap Responsive Template | Home :: W3layouts</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- WebSocket -->
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/assets_CustomerSide/css/style-starter.css}">

    <style>
        .btn {
            padding: 10px 20px;
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;

            cursor: pointer;
        }

        .btn-login {
            background-color: #fb4a33;
            color: white;
        }

        .btn-register:hover {
            background-color: #004e68;
            transition: 0.3s;
        }

        #clock-container {
            display: flex;
            flex-direction: column;
            text-align: left; /* Căn phải */
            margin-right: 30px; /* Khoảng cách phải */
            color: white;
            line-height: 0.4;
        }

        #time {
            font-size: 25px;
        }

        #date {
            font-size: 15px;
        }

        /* Điều chỉnh thanh thông báo */
        .dropdown-menu {
            padding: 0;
            margin-right: 20px;
            max-height: 300px; /* Giới hạn chiều cao */
            overflow-y: auto;  /* Thêm thanh cuộn khi có nhiều thông báo */
            scrollbar-width: none;
            z-index: 1050;
            min-width: 220px; /* Tăng chiều rộng của box notify */
        }

        /* Cỡ chữ nhỏ hơn và tự động xuống dòng */
        .dropdown-menu .dropdown-item {
            width: 95%;
            white-space: normal; /* Để nội dung tự động xuống dòng */
            word-wrap: break-word; /* Đảm bảo từ dài sẽ bị tách nếu cần */
            font-size: 14px; /* Giảm cỡ chữ cho phù hợp với thông báo */
            padding: 10px; /* Điều chỉnh padding nếu cần */
        }

        /* Các thông báo chưa đọc sẽ có màu đậm và có chấm xanh */
        .notification-unread {
            font-weight: bold; /* Chữ đậm */
            background-color: #f9f9f9; /* Màu nền nhạt hơn cho thông báo chưa đọc */
            position: relative; /* Để có thể định vị chấm xanh */
        }

        /* Chấm xanh cho thông báo chưa đọc */
        .notification-unread::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 2px;
            transform: translateY(-100%);
            width: 10px;
            height: 10px;
            background-color: #00aaff; /* Màu xanh cho chấm */
            border-radius: 50%;
        }

        /* Các thông báo đã đọc sẽ có màu nhạt và không có chấm */
        .notification-read {
            font-weight: normal; /* Chữ bình thường */
            background-color: #eaeaea; /* Màu nền cho thông báo đã đọc */
        }

        /* Cài đặt cho nút chuông thông báo */
        #trigger-overlay {
            background-color: white;
            border: none;
            cursor: pointer;
        }

        /* Màu và kích thước cho biểu tượng chuông */
        #trigger-overlay i {
            color: #ff0000; /* Màu đỏ cho biểu tượng chuông */
            font-size: 20px; /* Kích thước biểu tượng chuông */
        }
    </style>
</head>

<body>
<!--/Header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
            <h1><a class="navbar-brand" href="index.html">
                Viet<span class="sub-color">Land</span>
            </a></h1>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav mx-lg-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customer/get_all_asset}" style="font-size: 20px;">Asset</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customer/get_all_auction}" style="font-size: 20px;">Auction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customer/get_all_news}" style="font-size: 20px;">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html" style="font-size: 20px;">About us</a>
                    </li>
                </ul>

                <div class="navbar-nav" id="clock-container">
                    <span class="nav-link" id="time"></span>
                    <span class="nav-link" id="date"></span>
                </div>

                <!--/notify-->
                <div class="dropdown">
                    <button id="trigger-overlay" class="searchw3-icon me-xl-4 me-lg-3" type="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="loadNotifications()">
                        <i class="fas fa-bell"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" id="notification-list" aria-labelledby="trigger-overlay">
                        <li><a class="dropdown-item" href="#">Loading...</a></li>
                    </ul>
                </div>
                <!-- open/close -->
                <!--//notify-->

                <!-- Register and Login Buttons -->
                <div class="auth-buttons">
                    <div th:if="${#authentication.name == 'anonymousUser'}">
                        <a class="btn btn-login btn-primary" th:href="@{/showMyLoginPage}" style="font-size: 20px">LOG IN</a>
                    </div>
                    <div th:if="${#authentication.name != 'anonymousUser'}">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" th:href="@{/customer/profile}">Profile</a></li>
                                <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </nav>
    </div>
</header>
<!--//Header-->
<!--/Banner-Start-->
<!-- main-slider -->
<section class="w3l-main-slider banner-slider" id="home">
    <div class="owl-one owl-carousel owl-theme">
        <div class="item">
            <div class="slider-info banner-view banner-top1">
                <div class="container">
                    <div class="banner-info header-hero-19" style="padding: 30px; text-align: left;">
                        <p class="w3hny-tag" style="font-size: 1.5rem; color: #FF5722; font-weight: bold; margin-bottom: 10px;">VietLand Auction</p>
                        <!-- Màu #e91e63 là màu hồng đậm tạo điểm nhấn -->
                        <h3 class="title-hero-19" style="font-size: 2.5rem; font-weight: bold; line-height: 1.2; margin-bottom: 20px;">A Trusted Platform for Land Auctions with Transparent Deals</h3>
                        <a href="about.html" class="btn btn-style btn-primary mt-3" style="padding: 10px 20px; font-size: 1rem;">Read More <i class="fas fa-angle-double-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<!-- //main-slider -->
<!--/bottom-3-grids-->
<div class=" w3l-3-grids py-5" id="grids-3">
    <div class="container py-md-4">
        <div class="row">
            <div class="col-md-6 mt-md-0">
                <div class="grids3-info position-relative">
                    <a href="#img" class="d-block zoom"><img th:src="@{/assets_CustomerSide/images/banner1.jpg}" alt="" class="img-fluid news-image"></a>
                    <div class="w3-grids3-info">
                        <h4 class="gdnhy-1"><a href="#img">Property Listings</a>
                            <a class="w3item-link btn btn-style mt-4" href="#">
                                Explore Properties <i class="fas fa-angle-double-right ms-2"></i>
                            </a>

                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-md-0 mt-4 grids3-info2">
                <div class="grids3-info position-relative">
                    <a href="#img" class="d-block zoom"><img th:src="@{/assets_CustomerSide/images/banner2.jpg}" alt="" class="img-fluid news-image"></a>
                    <div class="w3-grids3-info second">
                        <h4 class="gdnhy-1"><a href="#img">Auction Listings</a>
                            <a class="w3item-link btn btn-style mt-4" href="#">
                                Explore Auctions <i class="fas fa-angle-double-right ms-2"></i>
                            </a>
                        </h4>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--//bottom-3-grids-->

<!--/properties-->
<section class="locations-1" id="locations">
    <div class="locations py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="heading text-center mx-auto">
                <h6 class="title-subw3hny mb-1">Our Properties</h6>
                <h3 class="title-w3l mb-3">Latest Properties</h3>
            </div>
            <div class="row pt-md-5 pt-4">
                <div class="col-lg-4 col-md-6">
                    <div class="w3property-grid">
                        <a href="#property">
                            <div class="box16">
                                <div class="rentext-listing-category"><span>Follow</span></div>
                                <img class="img-fluid" src="assets/images/g1.jpg" alt="">
                                <div class="box-content">
                                    <h3 class="title">$25,00,000</h3>
                                    <span class="post">51 Merrick Way, Coral Gables, USA</span>
                                </div>
                            </div>
                        </a>
                        <div class="list-information space-between">
                            <ul class="product-features">
                                <li>
                                    <i class="fas fa-bed"></i>
                                    <span class="listable-value">
                                            <span class="prefix">
                                                Beds </span>

                                            <span class="value">
                                                <span>0</span>4 </span>

                                            <span class="suffix">
                                            </span>
                                        </span>
                                </li>
                                <li>
                                    <i class="fas fa-shower"></i>
                                    <span class="listable-value">
                                            <span class="prefix">
                                                Baths </span>

                                            <span class="value">
                                                <span>0</span>2 </span>

                                            <span class="suffix">
                                            </span>
                                        </span>
                                </li>
                                <li>
                                    <i class="fas fa-vector-square"></i>
                                    <span class="listable-value">
                                            <span class="prefix">
                                            </span>

                                            <span class="value">
                                                1200 </span>

                                            <span class="suffix">
                                                Sqft </span>
                                        </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="w3property-grid">
                        <a href="#property">
                            <div class="box16">
                                <div class="rentext-listing-category"><span>Follow</span></div>
                                <img class="img-fluid" src="assets/images/g2.jpg" alt="">
                                <div class="box-content">
                                    <h3 class="title">$37,00,000</h3>
                                    <span class="post">51 Merrick Way, Coral Gables, USA</span>

                                </div>
                            </div>
                        </a>
                        <div class="list-information space-between">
                            <ul class="product-features">
                                <li>
                                    <i class="fas fa-bed"></i>
                                    <span class="listable-value">
                                            <span class="prefix">
                                                Beds </span>

                                            <span class="value">
                                                <span>0</span>2 </span>

                                            <span class="suffix">
                                            </span>
                                        </span>
                                </li>
                                <li>
                                    <i class="fas fa-shower"></i>
                                    <span class="listable-value">
                                            <span class="prefix">
                                                Baths </span>

                                            <span class="value">
                                                <span>0</span>2 </span>

                                            <span class="suffix">
                                            </span>
                                        </span>
                                </li>
                                <li>
                                    <i class="fas fa-vector-square"></i>
                                    <span class="listable-value">
                                            <span class="prefix">
                                            </span>

                                            <span class="value">
                                                1000 </span>

                                            <span class="suffix">
                                                Sqft </span>
                                        </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-lg-0 pt-lg-0 mt-4 pt-md-2">
                    <div class="w3property-grid">
                        <a href="#property">
                            <div class="box16">
                                <div class="rentext-listing-category"><span>Follow</span></div>
                                <img class="img-fluid" src="assets/images/g3.jpg" alt="">
                                <div class="box-content">
                                    <h3 class="title">$41,00,000</h3>
                                    <span class="post">51 Merrick Way, Coral Gables, USA</span>

                                </div>
                            </div>
                        </a>
                        <div class="list-information space-between">
                            <ul class="product-features">
                                <li>
                                    <i class="fas fa-bed"></i>
                                    <span class="listable-value">
                                            <span class="prefix">
                                                Beds </span>

                                            <span class="value">
                                                <span>0</span>3 </span>

                                            <span class="suffix">
                                            </span>
                                        </span>
                                </li>
                                <li>
                                    <i class="fas fa-shower"></i>
                                    <span class="listable-value">
                                            <span class="prefix">
                                                Baths </span>

                                            <span class="value">
                                                <span>0</span>2 </span>

                                            <span class="suffix">
                                            </span>
                                        </span>
                                </li>
                                <li>
                                    <i class="fas fa-vector-square"></i>
                                    <span class="listable-value">
                                            <span class="prefix">
                                            </span>

                                            <span class="value">
                                                1400 </span>

                                            <span class="suffix">
                                                Sqft </span>
                                        </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//properties-->
<!--/w3l-blog-->
<section class="w3l-blog">
    <div class="blog py-5" id="Newsblog">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="title-content text-center mb-lg-3 mb-4">
                <h6 class="title-subw3hny mb-1">Our Article</h6>
                <h3 class="title-w3l mb-5">Stay Updated with Our <br>News Feed</h3>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="assets/images/g3.jpg" alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">

                            <a href="#blog" class="blog-desc">Private Contemporary Home Balancing Openness</a>
                            <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                        </div>
                        <div class="card-footer">
                            <div class="author align-items-center">
                                <a href="#author" class="post-author">
                                    <img src="assets/images/team1.jpg" alt="" class="img-fluid rounded-circle">
                                </a>
                                <ul class="blog-meta">
                                    <li>
                                        <span class="meta-value">by</span><a href="#author"> David Marks</a>
                                    </li>
                                </ul>
                                <div class="date">
                                    <p>20 Oct, 2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 item mt-md-0 mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="assets/images/g4.jpg" alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">

                            <a href="#blog" class="blog-desc">How Does A Designer Home Look Like</a>
                            <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                        </div>
                        <div class="card-footer">
                            <div class="author align-items-center">
                                <a href="#author" class="post-author">
                                    <img src="assets/images/team2.jpg" alt="" class="img-fluid rounded-circle">
                                </a>
                                <ul class="blog-meta">
                                    <li>
                                        <span class="meta-value">by</span><a href="#author"> Lynda Stone</a>
                                    </li>
                                </ul>
                                <div class="date">
                                    <p>22 Oct, 2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 item mt-lg-0 mt-5">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="assets/images/g2.jpg" alt="Card image cap">
                            </a>
                        </div>
                        <div class="card-body blog-details">

                            <a href="#blog" class="blog-desc">Private Contemporary Home Balancing Openness</a>
                            <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo.</p>
                        </div>
                        <div class="card-footer">
                            <div class="author align-items-center">
                                <a href="#author" class="post-author">
                                    <img src="assets/images/team3.jpg" alt="" class="img-fluid rounded-circle">
                                </a>
                                <ul class="blog-meta">
                                    <li>
                                        <span class="meta-value">by</span><a href="#author"> David Nelson</a>
                                    </li>
                                </ul>
                                <div class="date">
                                    <p>23 Oct, 2021</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//w3l-blog-->
<!--/footer-9-->
<footer class="w3l-footer9">
    <section class="footer-inner-main py-5">
        <div class="container py-md-4">
            <div class="right-side">
                <div class="row footer-hny-grids sub-columns">
                    <div class="col-lg-3 sub-one-left">
                        <h6>About </h6>
                        <p class="footer-phny pe-lg-5">VietLand Auction is a leading online platform for real estate auctions, offering a transparent and efficient way to buy and sell properties.</p>
                        <div class="columns-2 mt-4 pt-lg-2">
                            <ul class="social">
                                <li><a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                                </li>
                                <li><a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>
                                </li>
                                <li><a href="#twitter"><span class="fab fa-twitter"></span></a>
                                </li>
                                <li><a href="#google"><span class="fab fa-google-plus-g"></span></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 sub-two-right">
                        <h6>Company</h6>
                        <ul>

                            <li><a href="#why"><i class="fas fa-angle-right"></i> Why Us</a>
                            </li>
                            <li><a href="#licence"><i class="fas fa-angle-right"></i>Our Agents
                            </a>
                            </li>
                            <li><a href="#log"><i class="fas fa-angle-right"></i>Our Offers
                            </a></li>

                            <li><a href="#career"><i class="fas fa-angle-right"></i> Careers</a></li>

                        </ul>
                    </div>
                    <div class="col-lg-2 sub-two-right">
                        <h6>Services</h6>
                        <ul>
                            <li><a href="#processing"><i class="fas fa-angle-right"></i> Buy Properties</a>
                            </li>
                            <li><a href="#research"><i class="fas fa-angle-right"></i> Sell Properties</a>
                            </li>
                            <li><a href="#metal"><i class="fas fa-angle-right"></i> Rent Properties</a>
                            </li>
                            <li><a href="#metal"><i class="fas fa-angle-right"></i> Property Search</a>
                            </li>


                        </ul>
                    </div>
                    <div class="col-lg-2 sub-two-right">
                        <h6>Explore</h6>
                        <ul>
                            <li><a href="#processing"><i class="fas fa-angle-right"></i> Homes for Rent</a>
                            </li>
                            <li><a href="#research"><i class="fas fa-angle-right"></i> Apartments for Rent</a>
                            </li>
                            <li><a href="#metal"><i class="fas fa-angle-right"></i> Homes for Sale</a>
                            </li>
                            <li><a href="#metal"><i class="fas fa-angle-right"></i> Apartments for Sale</a>
                            </li>


                        </ul>
                    </div>
                    <div class="col-lg-3 sub-one-left ps-lg-5">
                        <h6>Stay Update!</h6>
                        <p class="w3f-para mb-4">Subscribe to our newsletter to receive our weekly feed.</p>
                        <div class="w3l-subscribe-content align-self mt-lg-0 mt-5">
                            <form action="#" method="post" class="subscribe-wthree">
                                <div class="flex-wrap subscribe-wthree-field">
                                    <input class="form-control" type="email" placeholder="Email" name="email" required="">
                                    <button class="btn btn-style btn-primary" type="submit">Subscribe</button>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-level-up-alt" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>
    <!-- //move top -->
</footer>
<!--//footer-9 -->

<div id="chatbot">
    <div id="chatbox">
        <div class="chat-header">
            <div class="h-child">
                <img th:src="@{/assets_CustomerSide/images/chatbot.jpg}" alt="avatar" id="avatar">
                <div>
                    <span class="name">Chat Box</span>
                </div>
            </div>
            <div>
                <button id="resetChat" class="btn btn-sm btn-light refBtn" onclick="initChat()"
                        style="display: inline-block;">
                    <i class="fas fa-sync-alt"></i>
                </button>

                <button id="endChat" class="btn btn-sm btn-light refBtn" onclick="disconnectWebSocket()"
                        style="display: none;">
                    <i class="fas fa-sign-out-alt"></i>
                </button>

            </div>
        </div>
        <div class="chat-body" id="chat-box">
            <!-- Chat content goes here -->
        </div>
        <div class="chat-footer">
            <input id="messageField" type="text" placeholder="Type your message here..." readonly>
            <button onclick="sendButtonPressed()"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
    <button id="init" class="btn btn-primary chat-btn"><i class="fas fa-headset"></i></button>
</div>

<!-- Modal cho hộp thoại xác nhận -->
<div id="confirmModal">
    <div>
        <p id="confirmMessage"></p>
        <button class="moralButton" id="confirmApprove">Approve</button>
        <button class="moralButton" id="confirmReject">Reject</button>
    </div>
</div>

<script th:inline="javascript">
    var clientId = [[${accountId}]];
</script>

<!-- Template JavaScript -->
<script th:src="@{/assets_CustomerSide/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/assets_CustomerSide/js/theme-change.js}"></script>

<!--/search-->
<script th:src="@{/assets_CustomerSide/js/modernizr.custom.js}"></script>
<script th:src="@{/assets_CustomerSide/js/classie.js}"></script>
<script th:src="@{/assets_CustomerSide/js/demo1.js}"></script>
<!--//search-->
<!-- MENU-JS -->
<script>
    $(window).on("scroll", function() {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function() {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function() {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });

</script>
<!-- //MENU-JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<!-- disable body scroll which navbar is in active -->
<script>
    $(function() {
        $('.navbar-toggler').click(function() {
            $('body').toggleClass('noscroll');
        })
    });

    function updateClock() {
        var now = new Date();

        // Lấy giờ, phút, giây với định dạng 2 chữ số
        var hours = now.getHours().toString().padStart(2, '0');
        var minutes = now.getMinutes().toString().padStart(2, '0');
        var seconds = now.getSeconds().toString().padStart(2, '0');

        // Lấy ngày với định dạng tiếng Anh
        var day = now.toLocaleDateString('en-US', { weekday: 'long' });
        var date = now.toLocaleDateString('en-US'); // Hiển thị ngày tháng năm theo định dạng US (MM/DD/YYYY)

        // Hiển thị thời gian vào phần tử HTML
        document.getElementById('time').innerText = `${hours}:${minutes}:${seconds}`;
        document.getElementById('date').innerText = `${day}, ${date}`;
    }

    // Cập nhật thời gian mỗi giây
    setInterval(updateClock, 1000);
    updateClock();

    document.getElementById('trigger-overlay').addEventListener('click', function() {
        console.log('Bell clicked');
    });

    var dropdownTrigger = new bootstrap.Dropdown(document.getElementById('trigger-overlay'));

    document.getElementById('trigger-overlay').addEventListener('click', function () {
        dropdownTrigger.toggle();  // Kích hoạt dropdown
    });
</script>
<!-- //disable body scroll which navbar is in active -->
<!-- //bootstrap -->
<script th:src="@{/assets_CustomerSide/js/bootstrap.min.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script th:src="@{/assets_CustomerSide/js/chatbot.js}"></script>
<script th:src="@{/assets_CustomerSide/js/notification.js}"></script>
</body>
</html>
