<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/dashboardStatic/img/apple-icon.png}">
    <link rel="icon" type="image/png" th:href="@{/dashboardStatic/img/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Profile
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link th:href="@{/dashboardStatic/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/dashboardStatic/css/paper-dashboard.css?v=2.0.1}" rel="stylesheet"/>
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link th:href="@{/dashboardStatic/demo/demo.css}" rel="stylesheet"/>
</head>

<body class="">
<div class="wrapper ">
    <!--  Side navbar: chua lien ket den cac trang tuy chon cua minh  -->
    <div class="sidebar" data-color="white" data-active-color="danger">
        <div class="logo">
            <a th:href="@{/}" class="simple-text logo-mini">
                <div class="logo-image-small">
                    <img th:src="@{/dashboardStatic/img/logo-small.png}">
                </div>
            </a>
            <a th:href="@{/}" class="simple-text logo-normal">
                VietLand Auction
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active ">
                    <a th:href="@{/customer/profile}">
                        <i class="nc-icon nc-single-02"></i>
                        <p>User Profile</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!-- Top Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <span class="navbar-brand">Personal Information</span>
            </div>
        </nav>
        <!-- End Top Navbar -->
        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-user">
                        <div class="image">
                            <img th:src="@{/dashboardStatic/img/damir-bosnjak.jpg}" alt="...">
                        </div>
                        <div class="card-body">
                            <div class="author">
                                <a href="#">
                                    <img class="avatar border-gray" th:src="@{/dashboardStatic/img/mike.jpg}" alt="...">
                                    <h5 class="title">Chet Faker</h5>
                                </a>

                            </div>
                            <p class="description text-center" th:object="${customerDTO}">
                                <span th:if="*{account.verify == 0}">Not verified, please wait until we confirm your information</span>
                                <span th:if="*{account.verify == 1}">Verified, feel free to explore our website</span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <hr>
                            <div class="button-container">
                            </div>
                        </div>
                    </div>
                </div>





                <!--button tham gia dau gia nam ơ day-->
                <div class="sidebar-sticky" th:if="${auction.status == 'Upcoming'}">
                    <div class="sidebar-sticky-fix">
                        <button class="btn btn-style btn-primary register-btn"
                                style="width: 100%; margin-bottom: 20px;"
                                data-bs-toggle="modal" data-bs-target="#register_validate_form">Register
                            auction
                        </button>
                    </div>
                </div>
                <!-- Modal hien thi form xac nhan dang ky-->
                <div class="modal fade" id="register_validate_form" tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Registration
                                    confirmation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>

                            <!-- Form bổ sung -->
                            <form th:action="@{/customer/registerAuction}" th:method="POST">
                                <div class="modal-body">
                                    <h4 style="color: #f9351b">Online Auction Rules</h4>
                                    <br>
                                    <ul>
                                        <li style="font-style: italic;">1. Comply with the laws on asset auctions.</li>
                                        <li style="font-style: italic;">2. Ensure the confidentiality of access accounts, auction participant information, and other information as required by law.</li>
                                        <li style="font-style: italic;">3. Ensure objectivity, transparency, safety, and cybersecurity.</li>
                                        <li style="font-style: italic;">4. Protect the lawful rights and interests of asset owners, auction participants, and related individuals or organizations.</li>
                                    </ul>
                                    <!--Agreement Confirmation-->
                                    <div class="form-check">
                                        <input type="hidden" name="auctionId" th:value="${auction.auctionId}">
                                        <input class="form-check-input" type="radio" id="agreeCheckbox" style="margin-right: 10px;" name="validate" value="agree">
                                        <label for="agreeCheckbox" style="color: #f9351b">I fully agree with the above rules</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>









                <div class="col-md-8">
                    <div class="card card-user">
                        <div class="card-header">
                            <h5 class="card-title">Edit Profile</h5>
                        </div>
                        <div class="card-body">

                            <form th:action="@{/customer/updateProfile}" method="post" th:object="${customerDTO}" enctype="multipart/form-data">
                                <!-- Account fields -->
                                <div class="row">
                                    <input type="hidden" class="form-control" th:field="*{account.accountId}" name="accountId">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input type="text" class="form-control" th:field="*{account.username}" name="username" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <div class="form-group">
                                            <label>Email address</label>
                                            <input type="email" class="form-control" th:field="*{account.email}" name="email" placeholder="Email">
                                        </div>
                                    </div>
                                </div>

                                <!-- Customer fields -->
                                <div class="row">
                                    <input type="hidden" class="form-control" th:field="*{customer.customerId}" name="customerId">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Gender</label>
                                            <select class="form-control" th:field="*{customer.gender}" name="gender">
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                                <option value="O">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <div class="form-group">
                                            <label>Date of Birth</label>
                                            <input type="date" class="form-control" th:field="*{customer.dateOfBirth}" name="dateOfBirth">

                                        </div>
                                    </div>
                                </div>

                                <!-- Additional customer fields -->
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input type="text" class="form-control" th:field="*{customer.phoneNumber}" name="phoneNumber" placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <div class="form-group">
                                            <label>Full Name</label>
                                            <input type="text" class="form-control" th:field="*{customer.fullName}" name="fullName" placeholder="Full Name">
                                        </div>
                                    </div>
                                </div>

                                <!-- Address, Bank, ID, etc. -->
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Citizen Identification</label>
                                            <input type="text" class="form-control" th:field="*{customer.citizenIdentification}" name="citizenIdentification" placeholder="Citizen ID">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <div class="form-group">
                                            <label>ID Issuance Date</label>
                                            <input type="date" class="form-control" th:field="*{customer.idIssuanceDate}" name="idIssuanceDate">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>ID Issuance Place</label>
                                            <input type="text" class="form-control" th:field="*{customer.idIssuancePlace}" name="idIssuancePlace" placeholder="Issuance Place">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <div class="form-group">
                                            <label>Bank Account Number</label>
                                            <input type="text" class="form-control" th:field="*{customer.bankAccountNumber}" name="bankAccountNumber" placeholder="Bank Account Number">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Bank Name</label>
                                            <input type="text" class="form-control" th:field="*{customer.bankName}" name="bankName" placeholder="Bank Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <div class="form-group">
                                            <label>Bank Branch</label>
                                            <input type="text" class="form-control" th:field="*{customer.bankBranch}" name="bankBranch" placeholder="Bank Branch">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Bank Account Owner</label>
                                            <input type="text" class="form-control" th:field="*{customer.bankOwner}" name="bankOwner" placeholder="Bank Account Owner">
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <div class="form-group">
                                            <label>Tax Identification Number (TIN)</label>
                                            <input type="text" class="form-control" th:field="*{customer.taxIdentificationNumber}" name="taxIdentificationNumber" placeholder="Tax ID">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control" th:field="*{customer.address}" name="address" placeholder="Home Address">
                                        </div>
                                    </div>
                                </div>

                                <!-- ID Card images -->
                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div>
                                            <label for="idCardFrontImage">ID Card Front Image</label>
<!--                                    <div class="form-group">-->
<!--                                                <button type="button" class="btn btn-info btn-block" onclick="document.getElementById('idCardFrontImage').click();">Upload Front Image</button>-->
                                        <input type="file" name="idCardFrontImage" id="idCardFrontImage"  class="form-control" accept="image/png, image/jpeg, image/jpg">
                                          </div>

                                    </div>
                                    <div class="col-md-6 pl-1">
<!--                                        <div class="form-group">-->
                                        <div>
<!--                                            <button type="button" class="btn btn-info btn-block" onclick="document.getElementById('idCardFrontImage').click();">Upload Front Image</button>-->
                                            <label for="idCardBackImage">ID Card Back Image</label>
                                            <input type="file" name="idCardBackImage"  id="idCardBackImage" class="form-control" accept="image/png, image/jpeg, image/jpg">
                                        </div>
                                    </div>
                                </div>

                                <!-- Submit button -->
                                <div class="row">
                                    <div class="update ml-auto mr-auto">
                                        <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
                                    </div>
                                </div>
                            </form>











                            <!--                            <form th:action="@{/customer/updateProfile}" method="post" enctype="multipart/form-data">-->
<!--                                &lt;!&ndash; Account fields &ndash;&gt;-->
<!--                                <div class="row" th:object="${account}">-->
<!--                                    <input type="hidden" class="form-control" th:field="*{accountId}" name="accountId">-->
<!--                                    <div class="col-md-6 pr-1">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>Username</label>-->
<!--                                            <input type="text" class="form-control" th:field="*{username}" name="username" placeholder="Username">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6 pl-1">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>Email address</label>-->
<!--                                            <input type="email" class="form-control" th:field="*{email}" name="email" placeholder="Email">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; Customer fields &ndash;&gt;-->
<!--                                <div class="row" th:object="${customer}">-->
<!--                                    <input type="hidden" class="form-control" th:field="*{customerId}" name="customerId">-->
<!--                                    <div class="col-md-6 pr-1">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>Gender</label>-->
<!--                                            <select class="form-control" th:field="*{gender}" name="gender">-->
<!--                                                <option value="M">Male</option>-->
<!--                                                <option value="F">Female</option>-->
<!--                                                <option value="O">Other</option>-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                    <div class="col-md-6 pl-1">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>Date of Birth</label>-->
<!--                                            <input type="date" class="form-control" th:field="*{dateOfBirth}" name="dateOfBirth">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                &lt;!&ndash; Additional customer fields &ndash;&gt;-->
<!--                                <div class="row" >-->
<!--                                    <div class="col-md-6 pr-1">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>Phone Number</label>-->
<!--                                            <input type="text" class="form-control" th:field="*{customer.phoneNumber}" name="phoneNumber" placeholder="Phone Number">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6 pl-1">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>Full Name</label>-->
<!--                                            <input type="text" class="form-control" th:field="*{customer.fullName}" name="address" placeholder="Full Name">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    </div>-->
<!--                              -->

<!--                                &lt;!&ndash; Address, Bank, ID, etc. &ndash;&gt;-->
<!--                                <div class="row">-->
<!--                                    <div class="col-md-6 pr-1">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>Citizen Identification</label>-->
<!--                                            <input type="text" class="form-control" th:field="*{customer.citizenIdentification}" name="citizenIdentification" placeholder="Citizen ID">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6 pl-1">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>ID Issuance Date</label>-->
<!--                                            <input type="date" class="form-control" th:field="*{customer.idIssuanceDate}" name="idIssuanceDate">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="row">-->
<!--                                    <div class="col-md-6 pr-1">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>ID Issuance Place</label>-->
<!--                                            <input type="text" class="form-control" th:field="*{customer.idIssuancePlace}" name="idIssuancePlace" placeholder="Issuance Place">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6 pl-1">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>Bank Account Number</label>-->
<!--                                            <input type="text" class="form-control" th:field="*{customer.bankAccountNumber}" name="bankAccountNumber" placeholder="Bank Account Number">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="row">-->
<!--                                    <div class="col-md-6 pr-1">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>Bank Name</label>-->
<!--                                            <input type="text" class="form-control" th:field="*{customer.bankName}" name="bankName" placeholder="Bank Name">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6 pl-1">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>Bank Branch</label>-->
<!--                                            <input type="text" class="form-control" th:field="*{customer.bankBranch}" name="bankBranch" placeholder="Bank Branch">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="row">-->
<!--                                    <div class="col-md-6 pr-1">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>Bank Account Owner</label>-->
<!--                                            <input type="text" class="form-control" th:field="*{customer.bankOwner}" name="bankOwner" placeholder="Bank Account Owner">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6 pl-1">-->
<!--                                    <div class="form-group">-->
<!--                                        <label>Tax Identification Number (TIN)</label>-->
<!--                                        <input type="text" class="form-control" th:field="*{customer.taxIdentificationNumber}" name="taxIdentificationNumber" placeholder="Tax ID">-->
<!--                                    </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="row" >-->
<!--                                    <div class="col-md-12">-->
<!--                                        <div class="form-group">-->
<!--                                            <label>Address</label>-->
<!--                                            <input type="text" class="form-control" th:field="*{customer.address}" name="address" placeholder="Home Address">-->
<!--                                        </div>-->
<!--                                </div>-->
<!--                                </div>-->
<!--                                 ID Card images-->
<!--                                    <div class="row" th:object="${customer}">-->
<!--                                        <div class="col-md-6 pr-1">-->
<!--                                            <div class="form-group">-->
<!--                                                <label for="idCardFrontImage">ID Card Front Image</label>-->
<!--                                                <button type="button" class="btn btn-info btn-block" onclick="document.getElementById('idCardFrontImage').click();">Upload Front Image</button>-->
<!--                                                <input type="file" name="idCardFrontImage" id="idCardFrontImage" class="d-none" accept="image/png, image/jpeg, image/jpg" th:value="${customer.idCardFrontImage}">-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-6 pl-1">-->
<!--                                            <div class="form-group">-->
<!--                                                <label for="idCardBackImage">ID Card Back Image</label>-->
<!--                                                <button type="button" class="btn btn-info btn-block" onclick="document.getElementById('idCardBackImage').click();">Upload Back Image</button>-->
<!--                                                <input type="file" name="idCardBackImage" id="idCardBackImage" class="d-none" accept="image/png, image/jpeg, image/jpg" th:value="${customer.idCardBackImage}">-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                &lt;!&ndash; Submit button &ndash;&gt;-->
<!--                                <div class="row">-->
<!--                                    <div class="update ml-auto mr-auto">-->
<!--                                        <button type="submit" class="btn btn-primary btn-round">Update Profile</button>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                            </form>-->



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------------------------KHONG DUOC SUA------------------------------------------------------>
<!--   Core JS Files   -->
<script th:src="@{/dashboardStatic/js/core/jquery.min.js}"></script>
<script th:src="@{/dashboardStatic/js/core/popper.min.js}"></script>
<script th:src="@{/dashboardStatic/js/core/bootstrap.min.js}"></script>
<script th:src="@{/dashboardStatic/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
<!-- Chart JS -->
<script th:src="@{/dashboardStatic/js/plugins/chartjs.min.js}"></script>
<!--  Notifications Plugin    -->
<script th:src="@{/dashboardStatic/js/plugins/bootstrap-notify.js}"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script th:src="@{/dashboardStatic/js/paper-dashboard.min.js?v=2.0.1}" type="text/javascript"></script>
<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script th:src="@{/dashboardStatic/demo/demo.js}"></script>
</body>

</html>
